<style>
  .fb-button-style {
  padding: 0;
  border: none;
  cursor:pointer;
  }
</style>

<div class="container_facebook_button">
  <img class="loginBtn fb-button-style" src="https://s3-us-west-2.amazonaws.com/stacksavings-files/fbconnect.png" style='width:60%;' border="0" alt="Null">
</div>