
<script src="http://stacksavings.com/scripts/js_snippet.js"></script>

<script>

jQuery( document ).ready(function() {
	var classname = document.getElementsByClassName("loginBtn");

	var loginButtonListener = function() {
	  	var curElement = this
	    //do the login
	    FB.login(function(response) {
	        if (response.authResponse) {
	            //user just authorized your app
	            curElement.style.display = 'none';
	          	sendUserInfo(curElement.parentNode);
	        }
	    }, {scope: 'email,public_profile'});
	};

	for (var i = 0; i < classname.length; i++) {
	    classname[i].addEventListener('click', loginButtonListener, false);
	}

	FB.getLoginStatus(function(response) {
	  if (response.status === 'connected') {
	  	//user is already logged in

	  	var classname = document.getElementsByClassName("container_facebook_button");

	  	var sentUserInfo = false;

		for (var i = 0; i < classname.length; i++) {

			if (!sentUserInfo) {
				sendUserInfo(classname[i]);
				sentUserInfo = true;
			}

			classname[i].innerHTML = "<b>You are currently logged in with Facebook</b>";
		}

	  }
	 });
});

</script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  Tawk_API.onLoad = function(){

	if (!Tawk_API.isVisitorEngaged()) {
		Tawk_API.hideWidget();
	}
};
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57ea7be6ff00b01eac8414a5/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
  
  
</script>
<!--End of Tawk.to Script-->